<html>
  <body>
    <h1>Dados do Clientes selecionado</h1>
    <form action="/clientes" method="post">
      <div if(data.clientes.idClie)>
        <input type="hidden" name="_method" value="PUT"/>
        <input type="hidden" id="id" name="id" value="${data.clientes.idClie}"/>
      </div>
      <table width="37%">
        <tr>
          <td>
            <label for="nome">Nome do Cliente:</label>
          </td>
          <td>
            <input type="text" id="nome" name="nome" size="20" value="${data.clientes.nomeClie}"/>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cpf">CPF do Cliente:</label>
          </td>
          <td>
            <input type="text" id="cpf" name="cpf" size="11" value="${data.clientes.cpfClie}"/>
          </td>
        </tr>
        <tr>
          <td>
            <label for="data">Data Aniversario (aaaa/mm/dd):</label>
          </td>
          <td>
            <input type="text" id="niver" name="niver" size="10" value="${data.clientes.dataNiverClie}"/>
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email:</label>
          </td>
          <td>
            <input type="text" id="email" name="email" size="40" value="${data.clientes.emailClie}"/>
          </td>
        </tr>
      </table>
      <br/>
      <input type="submit" value="Enviar Dados"/>
    </form>
  </body>
</html>
