<html>
  <head>
    <title>Lista dos Clientes com Node.js</title>
    <style>
      #cabecalho{
        width: 80%;
        margin: 20px auto;
      }
      #cabecalho a{
        padding: 10px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
      }
      #cabecalho a:hover{
        background-color: #fff;
        color: #000;        
      }
      #clientes{
        width: 80%;
        margin: 20px auto;
        border: 1px solid #ddd;
      }
      #clientes tr td{
        border: 1px solid #ddd;
        padding: 5px;
      }
      #clientes tr td a{
        padding: 5px;
        margin: 0 5px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
      }
      #clientes tr td a:hover{
        background-color: #fff;
        color: #000;        
      }
    </style>
  </head>
  <body>
    <div id="cabecalho">
      <h1>Listagem de CLIENTES</h1>
      <a href="/clientes/inclusao">+ Novo</a>
    </div>
    <div>
      <table width="100%" id="clientes" style="border: 1px solid #ddd;">
        <tr>
          <td>ID</td>
          <td>NOME</td>
          <td>CPF</td>
          <td>DATA DE ANIVERSÁRIO</td>
          <td>EMAIL</td>
          <td/>
        </tr>
        <tr id="cliente_${cliente.idClie}" for(cliente in data.clientes)>
          <td>${cliente.idClie}</td>
          <td>${cliente.nomeClie}</td>
          <td>${cliente.cpfClie}</td>
          <td>${cliente.dataNiverClie}</td>
          <td>${cliente.emailClie}</td>
          <td>
            <a href="/clientes/${cliente.idClie}">Editar</a>
            <a href="#" data-ref="${cliente.idClie}" data-type="remocao">Excluir</a>
          </td>
        </tr>
      </table>
      <script src="/estatico/removeCliente.js"/>
    </div>
  </body>
</html>
